dist
dist-*
cabal-dev
*.o
*.hi
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.aux
*.hp
*.eventlog
.stack-work/

# Unreadable file that gets created during testing.
# It should get cleaned-up by the tests after getting created, but just in case
# it is listed here as well.
test/golden/test-files/dir2/unreadable-file
